<nav id="site-navigation" class="main-navigation" role="navigation">
<div class="nav-menu">
<ul>
<li class="current_page_item"><a href="/">Home</a></li>          
<li class="page_item page-item-30"><a href="/logout">Logout</a></li>        
</li>      
</ul>
</div>
</nav>