<nav id="site-navigation" class="main-navigation" role="navigation">
  <div class="nav-menu">
    <ul>
      <li class="current_page_item"><a href="/">Home</a></li>
      <li class="page_item page-item-7"><a href="/profile/<%= user.name %>/members">Members</a></li>
      <li class="page_item page-item-29"><a href="<%= user.name %>/home">Posts</a></li>      
      <li class="page_item page-item-30"><a href="/logout">Logout</a></li>
      
        
      </li>      
    </ul>
  </div>
</nav>