<nav id="site-navigation" class="main-navigation" role="navigation">
<div class="nav-menu">
<ul>
<li class="current_page_item"><a href="/">Home</a></li>
<li class="page_item page-item-7"><a href="/signup">Signup</a></li>
<li class="page_item page-item-7"><a href="/login">Login</a></li>
<li class="page_item page-item-29"><a href="/logout">Logout</a></li>    
</li>      
</ul>
</div>
</nav>