<nav id="site-navigation" class="main-navigation" role="navigation">
<div class="nav-menu">
<ul>
<li class="current_page_item"><a href="/">Home Sweet Home</a></li>       
</li>      
</ul>
</div>
</nav>