<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/photo.js"></script>  
<link href="/css/profile.css" rel="stylesheet" type="text/css">
<link href="/css/home.css" rel="stylesheet" type="text/css">
<link href="/css/nav.css" rel="stylesheet" type="text/css">
</head>
  <% include partials/headerhome.ejs %>
<body>


     

<% user.forEach(function(users) { %>
<div class="wrap">
   <h3> <a href="/profile/<%= users.name %>"><%= users.name %></a></h3>  
      <h4><%= users.write %></h4>
     
         
        
    </div>
  <% }) %>

</div>
</body>
</html>