<!doctype html>
<html lang="en">
<head>
<title>Welcome to Retrobook!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/cover.js"></script>  
   <link href="/css/intro.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">
    <div class="component">
        <ul class="align">
          <li>
            <figure class='book'>

              <!-- Front -->

              <ul class='hardcover_front'>
                <li>
                  <div class="coverDesign blue">
                    <h1>Retrobook</h1>
                    <p>Signup</p>
                    <p>or</p>
                    <p>Login</p>
                  </div>
                </li>
                <li></li>
              </ul>

              <!-- Pages -->

              <ul class='page'>
                <li></li>
                <li>
                  <a class="btn1" href="/profile">Signup</a>
                  <a class="btn2" href="/profile">Login</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>

              <!-- Back -->

              <ul class='hardcover_back'>
                <li></li>
                <li></li>
              </ul>
              <ul class='book_spine'>
                <li></li>
                <li></li>
              </ul>
              <figcaption>
                <h1>Signup</h1>
                <span></span>
                <p>If this is your first time on this website</p>
                <h1>Login</h1>
                <span></span>
                <p>If you are already logged in</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
  </div>

</body>
</html>
