<!doctype html>
<html lang="en">
<head>
  <title>Welcome to Retrobook!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script src="/js/cover.js"></script>  
  <link href="/css/intro.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
  <link href="/css/nav.css" rel="stylesheet" type="text/css">
</head>
<% include partials/headerintro.ejs %>
<body>

  <div class="container">
    <div class="component">
      <ul class="align">
        <li>
          <figure class='book'>

            <!-- Front -->

            <ul class='hardcover_front'>
              <li>
                <div class="coverDesign blue">
                  <h1>Retrobook</h1>
                  <p>Signup</p>
                  <p>or</p>
                  <p>Login</p>
                </div>
              </li>
              <li></li>
            </ul>

            <!-- Pages -->

            <ul class='page'>
              <li></li>
              <li>          
                <a class="btn1 fancybox fancybox.iframe"  href="/signup">Signup</a> 
                
                <p><a class="btn3" href="/login">Enter</a></p>   
                <p><a class="btn2 fancybox fancybox.iframe"  href="/login">Login</a>
                </p>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- Back -->

            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h1></h1>
              <span></span>
              <p></p>
              <h1></h1>
              <span></span>
              <p></p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
  <img src='https://images7.alphacoders.com/393/393815.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
</body>
</html>
