<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Members</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="/css/members.css" rel="stylesheet" type="text/css">
<link href="/css/nav.css" rel="stylesheet" type="text/css">
<link href="/css/nav.css" rel="stylesheet" type="text/css">
</head>
<% include partials/headermembers.ejs %>
<body>

<% members.forEach(function(user) { %>
<div class="wrap">
  <div class="s1_3">
    <div class="in">
     
      <h2><a href="/profile/<%= user.name %>"><%= user.name %></a></h2>
    </div>
  </div>
</div>
  <% }) %>


</body>
</html>