

body{
 background-color: #C2B186;
}
h1{
  color:#fff;
}
h2{
  color:#fff;
}
        
#prive{
  margin-top:30px;
}
#center{
  padding-top:450px;
}
p{
 color:#fff; 
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
#f1_container {
  position: relative;
  margin: 30px auto;
  width: 320px;
  height: 320px;
  z-index: 1;
  cursor:pointer;
}
#f1_container {
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
-o-perspective: 1000px;
perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s linear;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}

#f1_container:hover #f1_card {
  -webkit-transform: rotateY(180deg);
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

.face.front img {
  position: absolute;
  width: 320px;
  height: 320px;
  display: block;
  box-sizing: border-box;
  z-index: 1;

}

.face img:hover {
  z-index: -1;
  opacity: 0;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: #222222;
  text-shadow: 0 1px 1px #777777;
  text-align: center;
  background-color: #330606;
  height: 320px;
  width: 320px;
}


img.frame {
  border-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png') 93 92 87 92 stretch stretch; 
  border-color: #f4be52;
  border-style: inset;
  border-width: 60px;
  display: block;
  width: 40%;
  height: auto;
  background-color: #ffe;
  margin: 0 auto;
}
@media all and (max-width: 500px) {
  img.frame { 
    border-width: 0px;
    width: 100%; }
}